<!DOCTYPE html>
{% load blog_tags %}
{% load static %}
<html lang="en" class="bg-white">
<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script
        defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js">
    </script>
			
    <link rel="stylesheet" href="{% static 'mn_css/output.css' %}" type="text/css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>
<body x-data="dropdown" class="md:overflow-x-hidden font-family-karla">
    <header @click="close;search=''" class="sticky top-0 z-0 bg-gray-800/50 rounded-b-md w-full px-5 md:w-3/4">
        <a href="{% url 'blog:post_list' %}" class="font-bold text-black uppercase hover:text-gray-500 text-4xl">Matata's Blog</a>
    </header>        
    {% show_all_tags %}
    <div id="main-page" @click="close;search=''" class="scroll-smooth container mx-auto flex flex-wrap py-6 relative">                
        <section id="content" class=" space-y-4 w-full md:w-3/4 flex flex-col items-center mb-5 md:px-6">                        
            {% block content %}
            {% endblock %}
        </section>
        <aside id="sidebar" class="w-full z-30 md:w-1/4 flex md:flex-col flex-col-reverse md:fixed md:top-0 md:right-8">
            <div class="text-gray-400/50 rounded-xl md:rounded-t-none md:rounded-b-lg flex bg-base-100 flex-col items-center py-10 px-6 space-y-4">
                <h2 class="text-center text-2xl">Matata's blog</h2>
                <p class="text-center">For all things tech, business or politics explore here. </p>
                <div class="bg-primary z-30 md:border-0 border-t-4 border-white text-black stats shadow">  
                    <div class="stat">
                        <div class="stat-figure text-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"></path></svg>
                        </div>
                        <div class="stat-title">Total Posts</div>
                        <div class="stat-value">{% total_posts %}</div>                                            
                        <div class="stat-desc">↗︎ 400 (22%)</div>
                    </div>                    
                </div>
            </div>
            <div class="sticky top-0 inset-y-full h-screen md:h-auto w-full">
                <h2 class="text-2xl text-center bg-white">Recently Posted</h2>
                {% show_latest_posts %}
            </div> 
        </aside> 
             
    </div>

<script>
    let getCookie = (name) => {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    

    let fetchResults = () => {
        return {
            search : '',                        
            async filteredPosts () {                
                let response = await fetch('/blog/postSearcher/', {
                    method:'POST',
                    headers:{
                        'Content-Type':'applicaton/json',
                        'X-CSRFToken':getCookie('csrftoken') 
                    },

                    body:JSON.stringify({"postsSearch":this.search}),
                    credentials:"same-origin"
                }) 
                let result = await response.json()                                                                               
                console.log(result['results'])
                return result['results']
            }
        }
    }
    let goTo = async(url) => {
        await console.log(url)
    }

</script>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('dropdown', () => ({
            open: false,            
            toggle() {
                this.open = true
            },
            close() {
                this.open = false
            }
        }))
    })
</script>
</body>
</html>